@page "{id:int}"
@model Pinewood_App.Pages.DeleteModel
@{
    ViewData["Title"] = "Pinewood Task - Delete page";
}

<h4>Customer Removal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <a asp-page="./Index">Home</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        The Customer has been deleted.
    </div>
</div>
